
svg {
  position:relative;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.country {
  fill: #ccc;
  stroke: #999;
}

.mouseeffect {
  fill:#cccccc0d;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.container-fluid{
  background-color: rgb(199, 224, 224);
}